@media (min-width: 100px) {
  .sidebar-container {
    top: 130px; /* Start below the navbar */
    height: calc(100% - 130px); /* Adjust height to account for navbar */
  }
}

@media (min-width: 500px) {
  .sidebar-container {
    top: 130px; /* Start below the navbar */
    height: calc(100% - 130px); /* Adjust height to account for navbar */
  }
}

@media (min-width: 768px) {
  .sidebar-container {
    top: 160px; /* Start below the navbar */
    height: calc(100% - 160px); /* Adjust height to account for navbar */
  }
}

@media (min-width: 1024px) {
  .sidebar-container {
    top: 200px; /* Start below the navbar */
    height: calc(100% - 200px); /* Adjust height to account for navbar */
  }
}

.sidebar-container {
  position: fixed; /* Fixed position to stick to the side */
  left: 0; /* Align to the left side of the page */
  width: 300px; /* Adjust the width as needed */
  overflow-y: auto; /* Enable scrolling if content is too long */
}
